/* 
 Jorge Lopez
    Ken Martinez
    Christy Eang
    Project #3 Puppy Restaurant

*/
body{
    font-family: MontaukRegular;
    background-image: url(../images/bgtexture.jpg);
}
.center{
    display: flex;
    justify-content: center;
}
.Christymenu{
    color: #5F002B;
    font-size: 50px;
    background-color: #FFFFFF;
    font-family: 'Fugaz One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
}
.Christynav{
    color: #5F002B;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}

.fugaz{
    font-family: 'Fugaz One', cursive;
}
.christyHero{
    background-image: url(../images/homeHero.jpg);
    height: 600px;
    margin-bottom: 100px;
}
.christyHomeBg{
    background-color: #FFFFFF;
    color: #5F002B;
    padding-top: 24px;
}

.christyMSG{
    font-family: 'Fugaz One', cursive;
    font-size: 45px;
    color: #5F002B;
    /* This is supposed to be 50 but it doesn't look right */
}
.christyRed{
    color: #5F002B;
}
.christyMarbtm{
    margin-top: 60px;
}
.navBarTxt{
    color: #5F002B;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}
.navbarDrop{
    background-image: url(../images/bgtexture.jpg);
    
}
@font-face{
    font-family: MontaukRegular;
    src: url(../Montauk/Montauk-Regular.otf);
}
