/* 
    Jorge Lopez
    Ken Martinez
    Christy Eang
    Project #3 Puppy Restaurant
*/

.banner{
    background-color: white;
}
.cateringBanner{
    color: #5F002B;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
    height: 73px;
    
}




