/* 
    Jorge Lopez
    Ken Martinez
    Christy Eang
    Project #3 Puppy Restaurant
*/
@font-face{
    font-family: MontaukRegular;
    src: url(../Montauk/Montauk-Regular.otf);
}
body{
    font-family: MontaukRegular;
    src: url(../Montauk/Montauk-Regular.otf);
}
.caterImage{
    width: 100%;
    height: 100%;
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;  
 }
.cateringBanner{
    color: #5F002B;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
}
.parTitle{
    font-size: 30px;
    color: #5F002B;
    line-height: 44px;
    font-family: 'Fugaz One', cursive;
    background-color: white;
    margin-bottom: 0px;
    padding-top: 15px;

}
.paraText{
    font-size: 20px;
    color: #5F002B;
    line-height: 22px;
    font-family: MontaukRegular;
    background-color: white;
    padding: 3%;
};

/* @media (max-width: 1500px) {
    .change {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
  } */
