/* 
    Jorge Lopez
    Ken Martinez
    Christy Eang
    Project #3 Puppy Restaurant
*/
@font-face{
    font-family: MontaukRegular;
    src: url(../Montauk/Montauk-Regular.otf);
}
body{
    font-family: MontaukRegular;
    src: url(../Montauk/Montauk-Regular.otf);
}
.banner{
    
    background-color: white;
    
  
}
.bg{
    background-color: white;
    border: none;
}
.cateringBanner{
    color: #5F002B;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parTitle{
    font-size: 30px;
    color: #5F002B;
    line-height: 44px;
    font-family: 'Fugaz One', cursive;
    
}
.paraText{
    font-size: 20px;
    color: #5F002B;
    line-height: 22px;
    font-family: MontaukRegular;
};


